<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="RedChamps\CmsDataSync\Api\BlockRepositoryInterface" type="RedChamps\CmsDataSync\Model\BlockRepository" />
    <preference for="RedChamps\CmsDataSync\Api\PageRepositoryInterface" type="RedChamps\CmsDataSync\Model\PageRepository" />
</config>
