<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="cms_page_save_after">
        <observer name="cms_data_sync_page" instance="RedChamps\CmsDataSync\Observer\CmsSaveAfter" />
    </event>
    <event name="cms_block_save_after">
        <observer name="cms_data_sync_block" instance="RedChamps\CmsDataSync\Observer\CmsSaveAfter" />
    </event>
</config>
